{% extends 'base.html' %}
{% block main %}
<div class="col-sm-12 col-md-9">
        <div class="col-sm-12">
	        <div class="col-sm-6">
               <div id="system" class="well well-font">
                  <h3><i class="icon-home"></i>Operating System：</h3>
                 	<table class="table table-striped table-bordered">
                        <tbody><tr>
                            <td class="label-col">System</td>
                            <td>{{system}}</td>
                        </tr>
                        <tr>
                            <td class="label-col">Hostname</td>
                            <td>{{hostname}}</td>
                        </tr>
                        <tr>
                            <td class="label-col">Timezone</td>
                            <td>{{timezone}}</td>
                        </tr>
                        <tr>
                            <td class="label-col">CPU count</td>
                            <td>{{cpu_cores}}</td>
                        </tr>
                    </tbody></table>
              </div>
      	</div>
        <div class="col-sm-6">
               <div id="cpu" class="well well-font">
                    <h3><i class="icon-info-sign"></i>CPU：</h3>
                        <table class="cpu table table-striped table-bordered">
                            <tbody>
                            <tr>
                                <td class="label-col">Model Name</td>
                                <td class="system">{{ model_name }}</td>
                            </tr>
                            <tr>
                                <td class="label-col">Cpu Cores</td>
                                <td class="idle">{{cpu_cores}}</td>
                            </tr>
                            <tr>
                                <td class="label-col">Cpu MHz</td>
                                <td class="iowait">{{cpu_MHz}}</td>
                            </tr>
                            <tr>
                                <td class="label-col">Cache Size</td>
                                <td style="word-spacing: 10px;" class="load">{{cache_size}}</td>
                            </tr>
                            <tr>
                                <td class="label-col">Bogomips</td>
                                <td class="user">{{bogomips}}</td>
                            </tr>
                    </tbody></table>
              </div>
        </div>
      	        <div class="col-sm-12">
               <div id="network" class="well well-font">
                    <h3><i class="icon-globe"></i>Networks：</h3>
                        <table class="network table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Interface</th>
                                <th>IP</th>
                                <th>RX/s</th>
                                <th>TX/s</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>lo</td>
                                    <td>127.0.0.1</td>
                                    <td>0 Bytes</td>
                                    <td>0 Bytes</td>
                                </tr>
                                <tr>
                                    <td>eth0</td>
                                    <td>192.168.30.7</td>
                                    <td>0 Bytes</td>
                                    <td>0 Bytes</td>
                                </tr>
                                <tr>
                                    <td>eth1</td>
                                    <td>192.168.40.35</td>
                                    <td>0 Bytes</td>
                                    <td>0 Bytes</td>
                                </tr>
                                <tr>
                                    <td>ppp0</td>
                                    <td>10.10.0.20</td>
                                    <td>0 Bytes</td>
                                    <td>0 Bytes</td>
                                </tr>
                        </tbody>
                    </table>
              </div>
      	</div>

        <div class="col-sm-6">
               <div id="ram" class="well well-top well-font">
                    <h3><i class="icon-random"></i>Memory:</h3>
                              <table class="memory table table-striped table-bordered">
                                <tbody><tr>
                                    <td class="label-col">Total</td>
                                    <td class="total">{{memtotal}}</td>
                                </tr>
                                <tr>
                                    <td class="label-col">Active</td>
                                    <td class="available">{{active}}</td>
                                </tr>
                                <tr>
                                    <td class="label-col">Cached</td>
                                    <td class="used_excl">{{cached}}</td>
                                </tr>
                                <tr>
                                    <td class="label-col">Free</td>
                                    <td class="free">{{memfree}}</td>
                                </tr>
                                <tr>
                                    <td class="label-col">Buffers</td>
                                    <td class="free">{{buffers}}</td>
                                </tr>
                            </tbody></table>
              </div>
        </div>
      	<div class="col-sm-6">
                <div id="swap" class="well well-top well-font">
                    <h3><i class="icon-retweet"></i>Swap：</h3>
                             <table class="swap table table-striped table-bordered">
				                        <tbody>
                                            <tr>
    				                            <td class="label-col">Total</td>
    				                            <td class="total">{{swaptotal}}</td>
    				                        </tr>
    				                        <tr>
    				                            <td class="label-col">SwapCached</td>
    				                            <td class="used">{{swapcached}}</td>
    				                        </tr>
    				                        <tr>
    				                            <td class="label-col">Free</td>
    				                            <td class="free">{{swapfree}}</td>
    				                        </tr>
    				                        <tr>
    				                            <td class="label-col">Swapped in</td>
    				                            <td class="swapped-in">0 Bytes</td>
    				                        </tr>
    				                        <tr>
    				                            <td class="label-col">Swapped out</td>
    				                            <td class="swapped-out">0 Bytes</td>
    				                        </tr>
				                    </tbody>
                            </table>
                </div>
      	</div>
      	<div class="col-sm-12">
                <div id="hdd" class="well well-top well-font">
                    <h3><i class="icon-hdd"></i>Disk：</h3>
                       <table class="disks table table-striped table-bordered">
	                        <thead>
	                            <tr>
	                                <th>Device</th>
	                                <th>Mounted</th>
	                                <th>Total</th>
	                                <th>Used</th>
	                                <th>Free</th>
	                            </tr>
	                        </thead>
	                        <tbody>
                                <tr>
                                    <td>/dev/sda1</td>
                                    <td>/</td>
                                    <td>306.5 GB</td>
                                    <td>86.0 GB (28.1 %)</td>
                                    <td>204.9 GB</td>
                                </tr>
	                        </tbody>
	                    </table>
                </div>
      	</div>
</div>
{% endblock %}